body {
  font-family: 'Gaegu', cursive;
  font-size:  20px;
  color: #343a40;
}

.jumbotron {
  color: #FFFFFF;
  background-image: url("https://i.pinimg.com/originals/d6/ec/92/d6ec92b660388f516970c6123bb39b84.png");
}

.title {
  text-align: center;
}

.h1-font {
  font-size:  60px;
  font-family: 'Sofia';
}


.smaller-font {
  font-size: 15px;
  font-family: 'Gaegu', cursive;
}
