body {
  font-family: 'Gaegu', cursive;
  font-size:  20px;
  color: #343a40;
}

.jumbotron {
  color: ##ABB2B9;
  background-color: #D5D8DC;
}

.title {
  text-align: center;
}

.h1-font {
  font-size:  60px;
  font-family: 'Sofia';
}
