body {
  background:  #267EF2;
  font-family: 'Gaegu', cursive;
  font-size:  20px;
  color: #343a40;
}

.jumbotron {
  background: #0549A3;
  color: #FFFFFF;
}

.title {
  text-align: center;
}

.h1-font {
  font-size:  60px;
  font-family: 'Sofia';
}
