body {
  font-family: 'Gaegu', cursive;
  font-size:  20px;
  color: #343a40;
}

.jumbotron {
  color: #FFFFFF;
  background-image: url("https://lh3.googleusercontent.com/vrk-WboA5j5KzSTrcy227QIXpALkQKEXQTlGszBApyr0nmrMEqaIcAB2ai3KTILiXsrDeFhIl0w6Sj2n4vQOXkTvl0l3p0SDi-GeFvDh5LZo9XzKNsbfytCD5BrjG245fHq1UrQiAw=w2400");
}

.title {
  text-align: center;
}

.h1-font {
  font-size:  60px;
  font-family: 'Sofia';
}


.smaller-font {
  font-size: 15px;
  font-family: 'Gaegu', cursive;
}
